version: "3.9"

services:
  api:
    build:
      context: ./Card-Tradder-frontend-backend/backend
      dockerfile: Dockerfile
    container_name: cardtradder-api
    ports:
      - "3000:3000"
    env_file:
      - ./Card-Tradder-frontend-backend/backend/.env
    environment:
      # Sobrescribimos para que use el contenedor "mongo"
      MONGO_URI: mongodb://mongo:27017/cardtrader
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:7
    container_name: cardtradder-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: cardtradder-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
